::ng-deep {
    .past-tournament {
        img {
            width: 100%;
        }
    }

    .page-link {
        color: #ac0000;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #ac0000;
        border-color: #ac0000;
    }
}

