.registration-closed {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.badge-golden {
  color: gold;
}

.badge-danger:hover {
  cursor: pointer;
}

.btn-primary {
  margin-top: 10px;
}
