<div class="container">
    <div class="row">
        <markdown class="col subtitle" [data]="details?.subtitle"></markdown>
    </div>
    <div class="row">
        <markdown class="col-lg-6 info" [data]="details?.info"></markdown>
        <google-map class="col-lg-6" *ngIf="mapOptions && markerPosition" [options]="mapOptions" width="100%" height="50vh">
            <map-marker [position]="markerPosition"></map-marker>
        </google-map>
    </div>
    <div class="row">
        <markdown class="col" [data]="details?.body"></markdown>
    </div>
  </div>
  