/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.container {
  margin-top: 50px;
  max-width: 920px;
  min-height: 920px;

  h2 {
    color: rgb(172, 0, 0);
    font-family: 'Open Sans', sans-serif;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
  }


}

a {
  color: rgb(172, 0, 0);
}
