.container {

  h2 {
    text-align: center;
  }

  .payment-paid {
    margin-top: 20px;
    h3 {
      margin-bottom: 40px;
    }
  }

  .check-total {
    margin-bottom: 20px;
  }

  .paypal-button {
    text-align: center;
  }
}
