.nav-mobile {
  margin-top: -16px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;

  .nav-item {
    flex-grow: 1;
    text-align: center;
    border-bottom: 1px solid lightgray;
  }

  .nav-item .active {
    border-bottom: 2px solid rgb(172, 0, 0);;
  }
}

.nav-desktop {
  min-height: unset;
  a.nav-link {
    color: gray;
  }
  a.nav-link.active {
    border-bottom: 2px solid #ac0000;
    color: #ac0000;
  }
}
